{
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y
                &kp A  &kp S  &kp D  &kp F  &kp G  &kp H
                &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N
                &kp ESC &kp TAB &kp LSHIFT &kp LCTRL &kp LALT &kp SPACE
                &kp 1  &kp 2  &kp 3  &kp 4  &kp 5  &kp 6
                &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp ENTER &kp BSPC
            >;
        };
    };
};